<div class="side-nav-bar-content">
  <div class="side-nav-bar-content__container">
    <md-nav-list class="side-nav-bar-content__list">
      <md-list-item class="side-nav-bar-content__list-item" routerLinkActive="active-link">
        <a md-line routerLink="/home"><md-icon md-list-icon>home</md-icon><span>Home</span></a>
      </md-list-item>
      <md-list-item class="side-nav-bar-content__list-item" routerLinkActive="active-link">
        <a md-line routerLink="/other"><md-icon md-list-icon>settings</md-icon><span>Other</span></a>
      </md-list-item>
    </md-nav-list>
  </div>
</div>
