.homepage {
    .content-container {
        height: 100%;

        app-general-tile {
            height: 100%;
            width: 100%;
        }

        app-graph-tile {
            height: 100%;
            width: 100%;
        }
    }
}